@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Intrepid;
  src: url(/font/Intrepid.ttf);
}

* {
  font-family: Intrepid;
  scroll-behavior: smooth;
  word-spacing: -2px;
}

body {
  font-size: 18px;
  background-color: #18191d;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#navbar.active {
  animation: fadeNav 0.7s linear forwards;
  @apply shadow-md bg-[#18191d];
}
@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-type-1 {
  clip-path: polygon(
    0 0,
    47% 0,
    47% 10%,
    73% 10%,
    73% 20%,
    100% 20%,
    100% 100%,
    0 100%
  );
}

.card-type-2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 54% 100%, 43% 89%, 0 89%);
}

#sideBar {
  animation: sideNav 0.4s linear forwards;
  z-index: 999;
}

@keyframes sideNav {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-sidebar {
  animation: accordion 0.3s ease;
}
@keyframes accordion {
  from {
    opacity: 0;
    margin-left: -100%;
  }
  to {
    opacity: 1;
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
